body {
    overflow: hidden;
    --border: 2vh;
    --cell-count: 12;
    --cell: calc((100vh - 2 * var(--border)) / var(--cell-count));
    --pattern-max-width: 20px;
    --pattern-width: calc(100vw - 2 * var(--border));
}


@media  (min-width: 19vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 2 * var(--cell));
    }  
}
@media  (min-width: 27vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 3 * var(--cell));
    }  
}
@media  (min-width: 35vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 4 * var(--cell));
    }  
}
@media  (min-width: 43vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 5 * var(--cell));
    }  
}
@media (min-width: 51vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 6 * var(--cell));
    }  
}
@media (min-width: 59vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 7 * var(--cell));
    }  
}
@media (min-width: 67vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 8 * var(--cell));
    }  
}
@media (min-width: 75vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 9 * var(--cell));
    }  
}
@media (min-width: 83vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 10 * var(--cell));
    }  
}
@media (min-width: 91vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 11 * var(--cell));
    }  
}
@media (min-width: 99vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 12 * var(--cell));
    }  
}
@media (min-width: 107vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 13 * var(--cell));
    }  
}
@media (min-width: 115vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 14 * var(--cell));
    }  
}
@media (min-width: 123vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 15 * var(--cell));
    }  
}
@media (min-width: 131vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 16 * var(--cell));
    }  
}
@media (min-width: 139vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 17 * var(--cell));
    }  
}
@media (min-width: 147vh) {
    body {
        --pattern-max-width: calc(var(--pattern-width) - 18 * var(--cell));
    }  
}

body {
    --hue: 27;
    --saturation: 80%;
    --light: 10%;
    --alpha: 1;
    --light-spread: 10%;
    --base-color: hsla(var(--hue), var(--saturation), var(--light), var(--alpha));
    --light-color: hsla(var(--hue), var(--saturation), calc(var(--light) + 2 * var(--light-spread)), var(--alpha));
    --medium-color: hsla(var(--hue), var(--saturation), calc(var(--light) + var(--light-spread)), var(--alpha));
    --dark-color: hsla(var(--hue), var(--saturation), calc(var(--light) - var(--light-spread)), var(--alpha));

    --circle: transparent 45%, var(--base-color) 46%,var(--light-color) 50%, var(--dark-color) 54%, transparent 55%;

    --side-delta: max(100vw - 100vh, 100vh - 100vw);

    --corner: linear-gradient(var(--medium-color) 0 100%);

    --pattern-offset: calc(var(--pattern-max-width) / 2);

    --inset-horizontal: calc(var(--border) + var(--pattern-offset));

    --weave-inset: var(--inset-horizontal) var(--border);

    --corner-size: var(--inset-horizontal) var(--border);

    --corners: 
        var(--corner) 0 0 / var(--corner-size)          no-repeat,
        var(--corner) 100% 0 / var(--corner-size)       no-repeat,
        var(--corner) 100% 100% / var(--corner-size)    no-repeat,
        var(--corner) 0 100% / var(--corner-size)       no-repeat;
        

    --weave-border-left-connection:
        linear-gradient(-45deg, var(--medium-color) 0 6%, transparent 7%)       var(--pattern-offset) var(--border) / var(--border) var(--cell)   repeat-y,
        linear-gradient(-67.5deg, var(--light-color) 11%, transparent 12%)      var(--pattern-offset) var(--border) / var(--border) var(--cell)   repeat-y,
        linear-gradient(225deg, var(--medium-color) 0 6%, transparent 7%)       var(--pattern-offset) var(--border) / var(--border) var(--cell)   repeat-y,
        linear-gradient(247.5deg, var(--base-color) 11%, transparent 12%)       var(--pattern-offset) var(--border) / var(--border) var(--cell)   repeat-y;

    --weave-border-top-connection: 
        linear-gradient(-45deg, var(--medium-color) 0 6%, transparent 7%)     var(--inset-horizontal) 0 / var(--cell) var(--border)   repeat-x,
        linear-gradient(-22.5deg, var(--light-color) 11%, transparent 12%)    var(--inset-horizontal) 0 / var(--cell) var(--border)   repeat-x,
        linear-gradient(45deg, var(--medium-color) 0 6%, transparent 7%)      var(--inset-horizontal) 0 / var(--cell) var(--border)   repeat-x;
    
    --weave-border-right-connection:
        linear-gradient(45deg, var(--medium-color) 0 6%, transparent 7%)        calc(100% - var(--pattern-offset)) var(--border) / var(--border) var(--cell)   repeat-y,
        linear-gradient(67.5deg, var(--base-color) 11%, transparent 12%)        calc(100% - var(--pattern-offset)) var(--border) / var(--border) var(--cell)   repeat-y,
        linear-gradient(135deg, var(--medium-color) 0 6%, transparent 7%)       calc(100% - var(--pattern-offset)) var(--border) / var(--border) var(--cell)   repeat-y,
        linear-gradient(112.5deg, var(--dark-color) 11%, transparent 12%)       calc(100% - var(--pattern-offset)) var(--border) / var(--border) var(--cell)   repeat-y;

    --weave-border-bottom-connection: 
        linear-gradient(-225deg, var(--medium-color) 0 6%, transparent 7%)     var(--inset-horizontal) 100% / var(--cell) var(--border)   repeat-x,
        linear-gradient(-202.5deg, var(--dark-color) 11%, transparent 12%)    var(--inset-horizontal) 100% / var(--cell) var(--border)   repeat-x,
        linear-gradient(-135deg, var(--medium-color) 0 6%, transparent 7%)      var(--inset-horizontal) 100% / var(--cell) var(--border)   repeat-x;

    --weave-border: 
        linear-gradient(to right, var(--medium-color) 0px var(--pattern-offset), transparent var(--pattern-offset) calc(100% - var(--pattern-offset)), var(--medium-color) var(--pattern-offset) 100%),
        var(--corners),
        var(--weave-border-top-connection),
        linear-gradient(to bottom, var(--medium-color) 70%, var(--base-color) 71%)  0 0 / var(--cell) var(--border)       repeat-x,
        var(--weave-border-bottom-connection),
        linear-gradient(to top, var(--medium-color) 70%, var(--base-color) 71%)     0 100% / var(--cell) var(--border)    repeat-x,
        var(--weave-border-right-connection),
        linear-gradient(to left, var(--medium-color) 70%, var(--light-color) 71%)   calc(100.1% - var(--pattern-offset)) 0 / var(--border) var(--cell)  repeat-y,
        var(--weave-border-left-connection),
        linear-gradient(to right, var(--medium-color) 70%, var(--dark-color) 71%)   var(--pattern-offset) 0 / var(--border) var(--cell)       repeat-y;

    --weave-straight-attributes: var(--weave-inset) / var(--cell) var(--cell) repeat;

    --weave-straight: 
        linear-gradient(135deg, transparent 65%,var(--medium-color) 66%, var(--light-color) 70%, var(--dark-color) 74%, transparent 75%) var(--weave-straight-attributes),
        linear-gradient(45deg, transparent 75%,var(--medium-color) 76%, var(--light-color) 80%, var(--dark-color) 84%, transparent 85%) var(--weave-straight-attributes),
        linear-gradient(45deg, transparent 40%, var(--base-color) 41% 46%, var(--medium-color) 46.1% 53.9%, var(--base-color) 54% 59%, transparent 60%) var(--weave-straight-attributes),
        linear-gradient(135deg, transparent 40%,var(--light-color) 41% 46%, var(--medium-color) 46.1% 53.9%, var(--dark-color) 54% 59%, transparent 60%) var(--weave-straight-attributes),
        linear-gradient(135deg, transparent 15%,var(--medium-color) 16%, var(--light-color) 20%, var(--dark-color) 24%, transparent 25%) var(--weave-straight-attributes),
        linear-gradient(45deg, transparent 25%,var(--medium-color) 26%, var(--light-color) 30%, var(--dark-color) 34%, transparent 35%) var(--weave-straight-attributes);

    background: 
        
        var(--weave-border),
        var(--weave-straight),
        var(--wood) var(--weave-inset) / var(--cell) var(--cell),
        radial-gradient(yellow, red) var(--weave-inset) / var(--cell) var(--cell);
}

body:active {
    background: var(--weave-straight), var(--medium-color);
}