@import url(./basic-scissors.css);

body {
    overflow: hidden;
}

.gameBox {
    background-color: grey;
}

.gameBox,
.logo,
.control,
.skin-change > div {
    border: .2vh dashed black;
}

.control,
.skin-change > div {
    background-color: darkgray;
    font-size: 3vh;
}

.control:active,
.skin-change > div:active {
    border: .2vh dashed yellow;
}