@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

body {
    overflow: hidden;
    font-family: 'Fredericka the Great', cursive;
    background: linen;
}

.gameBox {
    box-shadow: 1vh 1vh 5vh 0 black;
    border: .2vh solid black;

    background: 
        linear-gradient(90deg, black 10%, transparent 15% 85%, black 90%) 97% 92% / 2vh 5.4vh no-repeat,
        radial-gradient(20vh 40vh at 0 100%, transparent 39.5%, black 40% 40.5%, tomato 41% 49%, black 49.5% 49.8%, transparent 50%) 99% 85% / 11vh 13vh no-repeat,
        linear-gradient(90deg, black 5%, transparent 6% 93%, black 94%) 72% 91.5% / 4vh 3.4vh no-repeat,
        radial-gradient(8vh 10vh at 70% 84%, lightskyblue 47%, black 48% 49%, transparent 50%),
        radial-gradient(40vh 25vh at 2vh 65vh, green, darkgreen 49.5%, black 50%, transparent 50.5%),
        radial-gradient(20vh 40vh at 100% 40%, transparent 46%, black 47%, brown 48%, orange) 0vh 90% / 15vh 20vh no-repeat,
        radial-gradient(15vh 8vh at 0 0, orange -28%, brown 50%, black 52.5%, transparent 53%) 0vh 100% / 15vh 8vh no-repeat,
        linear-gradient(to bottom, black 3%, green 4%, darkgreen 100%) 0 100% / 100% 10vh no-repeat,
        linen;
}

.logo {
    padding-left: 2vh;
}

.screen,
.controls {
    border: .2vh solid black;
    box-shadow: none;  
}

.screen {
    transform: rotate(.5deg);
}

.accent::before {
    display: block;
    visibility: visible;

    top: .5vh;
    left: .5vh;
    width: max-content;
    height: max-content;
    padding: .3vh;
    content: "A and B went to pick some peaches...";
    font-size: 1.5vh;

    background: linen;
    border: .2vh solid black;

    z-index: 0;
}

.gameBox:active .accent::before {
    content: "...but they don't have arms, bummer.";
}

.reset {
    font-size: 3vh;
}

.d-pad {
    width: 5vh;
    height: 5vh;
    background: radial-gradient(circle at 70% 30%, red, orange 70%);
    border: .2vh solid black;
    border-radius: 50%;

    transform-origin: 50% 30%;

    text-align: center;
    font-size: 5vh;
}

.big-button {
    border: .2vh solid black;
    text-align: center;
    font-size: 5vh;
}

.A {
    transform: translateY(-9vh);
    background: tomato;
}

.B {
    transform: translateY(-4vh) translateX(2vh);
    background: lightskyblue;
}

.skin-change > div {
    position: relative;
    background: transparent;
    font-size: 5vh;
    font-weight: 900;
}

.A::after,
.B::after,
.up::after,
.right::after,
.down::after,
.left::after {
    position: absolute;
    display: block;
    visibility: hidden;

    top: -8vh;
    left: 0vh;
    width: 15vh;
    height: 9.5vh;
    content: "click!";
    
    font-size: 4vh;
    text-align: center;
    line-height: 7vh;

    background: 
        linear-gradient(90deg, black 0% 8%, transparent 10% 100% ) 4vh 6.5vh / 3vh 3vh no-repeat,
        linear-gradient(300deg, transparent 55%, black 58% 60%, tomato 63% 100%) 4vh 6.5vh / 3vh 3vh no-repeat,
        radial-gradient(15vh 7vh, tomato 46%, black 47% 48%, transparent 49%) 0 0 / 15vh 7vh no-repeat;

    transform-origin: 4vh 9.5vh;
    transform: rotate(25deg);

    z-index: 5;
}

.A::after {
    content: "#!%$";
}

.B::after {
    content: "°O°";
    background: 
        linear-gradient(90deg, black 0% 8%, transparent 10% 100% ) 4vh 6.5vh / 3vh 3vh no-repeat,
        linear-gradient(300deg, transparent 55%, black 58% 60%, lightskyblue 63% 100%) 4vh 6.5vh / 3vh 3vh no-repeat,
        radial-gradient(15vh 7vh, lightskyblue 46%, black 47% 48%, transparent 49%) 0 0 / 15vh 7vh no-repeat;
}

.d-pad::after {
    background: 
        linear-gradient(90deg, black 0% 8%, transparent 10% 100% ) 4vh 6.5vh / 3vh 3vh no-repeat,
        linear-gradient(300deg, transparent 55%, black 58% 60%, orange 63% 100%) 4vh 6.5vh / 3vh 3vh no-repeat,
        radial-gradient(15vh 7vh, red 20%, orange 46%, black 47% 48%, transparent 49%) 0 0 / 15vh 7vh no-repeat;
}

.up::after {
    top: -8vh;
    left: -1vh;
    content: ":P";
    transform: rotate(15deg);
}

.right::after {
    transform: rotate(-90deg) translateY(-2vh) rotate(15deg);
    content: "haha!";
}

.down::after {
    transform: rotate(-180deg) translateY(-2vh) translateX(2vh) rotate(15deg);
    content: "down...";
}

.left::after {
    transform: rotate(-270deg) translateY(1vh) translateX(2vh) rotate(15deg);
    content: "left!?";
}

.control:active::after {
    visibility: visible;
}