.control,
.skin-change > div,
.reset::after {
    background: hsla(0, 0%, 0%, .8);

    box-shadow: 0 0 3vh 0 var(--bg-color);

    font-size: 6vh;
    text-align: center;
    line-height: 6.5vh;
    color: black;
    text-shadow: 0 0 2vh var(--text-color);

    border-radius: 50%;
}

.d-pad {
    width: 7vh;
    height: 7vh;
    text-shadow: 0 0 1vh var(--text-color);
    transform-origin: 50% 40%;
}

.skin-change {
    transform: translateX(2vh);
}

.skin-change > div {
    width: 4vh;
    height: 4vh;
    font-size: 4vh;
    line-height: 4.5vh;
}

.reset {
    visibility: hidden;
    position: relative;
    height: 4vh;
}

.reset::after {
    visibility: visible;
    display: block;
    position: absolute;
    content: "X";
    top: 1vh;
    left: 0;
    width: 4vh;
    height: 4vh;

    font-size: 4vh;
    line-height: 4vh;
}

.control:active,
.skin-change > div:active,
.reset:active::after {
    color: var(--text-active-color);
}